<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Setting1" value=""/>
    <add key="Setting2" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString=""/>
    <add name="ConnectionString1" connectionString=""/>
  </connectionStrings>
</configuration>
